@import "tailwindcss";

@font-face {
  font-family: PPEditorial;
  src: url('/fonts/ppeditorialold-ultralightitalic.otf') format('opentype');
}
@font-face {
  font-family: PPEditorialNormal;
  src: url('/fonts/PPEditorialNew-Light.ttf') format('truetype');
}
@font-face {
  font-family: Matter;
  src: url('/fonts/Matter-Regular.ttf') format('truetype');
}

body {
  font-family: 'PPEditorial', sans-serif;
}

.sub{
  font-family: 'Matter', sans-serif;
}

.nono{
  font-family: 'PPEditorialNormal', sans-serif;
}
