@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@font-face {
  font-family: PPEditorialNormal;
  src: url('/fonts/PPEditorialNew-Light.ttf') format('truetype');
}
@font-face {
  font-family: Matter;
  src: url('/fonts/Matter-Regular.ttf') format('truetype');
}

body {
  font-family: var(--font-local), sans-serif;
}

.sub{
  font-family: var(--font-local-sub), sans-serif;
}

.nono{
  font-family: 'PPEditorialNormal', sans-serif;
}

.sudo{
  font-family: "Manrope", sans-serif;
}

/* Hide scrollbar for sidebar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.loader {
    position: relative;
    width:  48px;
    height: 48px;
    background: #de3500;
    transform: rotateX(65deg) rotate(45deg);
    /* transform: perspective(200px) rotateX(65deg) rotate(45deg);  */
    color: #fff;
    animation: layers1 0.5s linear infinite alternate;
  }
  .loader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    animation: layerTr 0.5s linear infinite alternate;
  }

  @keyframes layers1 {
    0% { box-shadow: 0px 0px 0 0px  }
   90% , 100% { box-shadow: 20px 20px 0 -4px  }
  }
  @keyframes layerTr {
    0% { transform:  translate(0, 0) scale(1) }
    100% {  transform: translate(-25px, -25px) scale(1) }
  }
      